CONFIG_LOCALVERSION="-v8-nomad"
#
# Device Drivers
#
#
# Wireless LAN drivers
#
#
# Intel devices
#
CONFIG_WLAN_VENDOR_INTEL=y
CONFIG_IWLWIFI=m
CONFIG_IWLWIFI_LEDS=y
CONFIG_IWLMVM=m
CONFIG_IWLWIFI_OPMODE_MODULAR=y
#
# Debugging Options
#
# CONFIG_IWLWIFI_DEBUG is not set
CONFIG_IWLWIFI_DEVICE_TRACING=y
# end of Debugging Options

#
# Bluetooth device drivers
#
CONFIG_BT_INTEL=n
CONFIG_BT_BCM=n
CONFIG_BT_RTL=n
CONFIG_BT_HCIBTUSB=n
# CONFIG_BT_HCIBTUSB_AUTOSUSPEND is not set
CONFIG_BT_HCIBTUSB_POLL_SYNC=n
CONFIG_BT_HCIBTUSB_BCM=n
# CONFIG_BT_HCIBTUSB_MTK is not set
CONFIG_BT_HCIBTUSB_RTL=n
# CONFIG_BT_HCIBTSDIO is not set
CONFIG_BT_HCIUART=n
CONFIG_BT_HCIUART_SERDEV=n
CONFIG_BT_HCIUART_H4=n
# CONFIG_BT_HCIUART_NOKIA is not set
# CONFIG_BT_HCIUART_BCSP is not set
# CONFIG_BT_HCIUART_ATH3K is not set
# CONFIG_BT_HCIUART_LL is not set
CONFIG_BT_HCIUART_3WIRE=n
# CONFIG_BT_HCIUART_INTEL is not set
CONFIG_BT_HCIUART_BCM=n
# CONFIG_BT_HCIUART_RTL is not set
# CONFIG_BT_HCIUART_QCA is not set
# CONFIG_BT_HCIUART_AG6XX is not set
# CONFIG_BT_HCIUART_MRVL is not set
CONFIG_BT_HCIBCM203X=n
# CONFIG_BT_HCIBCM4377 is not set
CONFIG_BT_HCIBPA10X=n
CONFIG_BT_HCIBFUSB=n
CONFIG_BT_HCIVHCI=n
CONFIG_BT_MRVL=n
CONFIG_BT_MRVL_SDIO=n
CONFIG_BT_ATH3K=n
# CONFIG_BT_MTKSDIO is not set
# CONFIG_BT_MTKUART is not set
# CONFIG_BT_NXPUART is not set
# end of Bluetooth device drivers