Source: nomad-kernel
Priority: optional
Maintainer: Jerry Olla <jerryolla@gmail.com>
Uploaders: 
Build-Depends: debhelper (>= 10),
 bc, flex, bison, libssl-dev, rsync,
 gcc-aarch64-linux-gnu [!arm64 !armhf],
 gcc-arm-linux-gnueabihf [!armhf],
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/jolla/nmad-kernel
Vcs-Git: git@github.com:jolla/nomad-kernel.git
Vcs-Browser: https://github.com/jolla/nmad-kernel

Package: nomad-kernel
Section: kernel
Architecture: armhf arm64
Depends: ${misc:Depends}
Replaces: raspberrypi-kernel
Provides: linux-image, wireguard-modules (= 1.0.0)
Description: Nomad - kernel
 This package contains the Nomad Linux kernel.
